replicaCount: 1

image:
  repository: https://hub.docker.com/r/mfhelm/podautoscaler
  pullPolicy: Always
  version: latest

serviceAccount:
  create: true

rabbitmqAccessSecret: <secret for RabbitMQ>
rabbitmqUser: <username for RabbitMQ>
rabbitmqHost: <hostname of RabbitMQ-Server>
rabbitmqPort: <port of RabbitMQ-Server>

service:
  type: NodePort
  port: 8080
  livenessCheckPath: /actuator/health/liveness
  readinessCheckPath: /actuator/health/readiness

ingress:
  enabled: true
